<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario y Usuarios registrados</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1>Mi Formulario en Express</h1>
  <form action="/users" method="POST">
    <label for="">Nombre</label>
    <input name="name" type="text">
    <label for="">Apellido</label>
    <input name="lastname" type="text">
    <label for="">Contraseña</label>
    <input name="password" type="password">
    <input type="submit" value="Enviar" id="button">
  </form>
  <h1>Lista de usuarios</h1>
  <div>
    <ul>
      <% result.forEach(function(user){ %>
        <li><%= user.name %></li>
      <% }); %>
    </ul>
  </div>
</body>
</html>